body > .sidebar {
  will-change: transform;
}

.nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1d1d1d;
  overflow: hidden;
  width: 200px;
  color: #f6f6f6;
  position: fixed;
  z-index: 3;
  height: 100vh;
  transition: 0.4s ease;
  padding: 10px 0;
  border-right: #363636 solid 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.nav ul{
  display: flex;
  flex-direction: column;
  /* gap: .5rem; */
  list-style: none;
  color: #f6f6f6;
  padding: 0 15px;
  gap: 4px;
}

.nav ul li{
  padding: 16px 16px;
  width: 100%;
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  border-radius: 5px;
  transition: .2s all;
  gap: 12px;
}

.nav .navLinks li:first-child .iconNav{
  width: 30px;
  height: 30px;
}

.nav ul li:hover{
  background-color: #2d2d2d;
  cursor: pointer;
}

.nav ul li:active{
  color: #d4953d;
}

.nav .navLinks li span{
  font-size: .8rem;
  line-height: 1;
  white-space: nowrap;
  /* display: none; */
}

.schedule{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: .9rem;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  transition: opacity 0.3s ease;
}

.schedule div{
  text-align: center;
}

.collapsed{
  width: 88px;
}

.collapsed ul li span{
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}


.navLinks .iconNav{
  width: 24px;
  height: 24px;
  justify-self: center;
}

.nav .socialMedia .iconNav{
  min-width: 24px;
  min-height: 24px;
  max-height: 24px;
  color: #f6f6f6;
}

.nav .socialMedia li{
  padding: 16px;
}

.socialMedia{
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 4px;
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    height: 70px;
    padding: 0 0;
    overflow: visible;
    border: none;
  }

  .nav .navLinks{
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #f6f6f6;
    border-top: #f6f6f6;
    gap: 0;
    padding: 0;
  }

  .nav .socialMedia{
    bottom: 70px;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 15px 15px;
    background-color: #212121;
  }
  
  .nav .socialMedia li{
    background-color: #202020;
    border-radius: 10px;
    border: 1px solid #cccccc6d;
  }

  .nav .socialMedia li:active{
    background-color: #2e2e2e;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .nav .socialMedia .iconNav{
    justify-self: center;
  }
  
  .nav .schedule{
    top: calc(-80dvh + 30px);
    width: 100%;
    flex-direction: row;
    background-color: #212121;
    padding: 15px;
  }

  .nav .schedule::after{
    content: 'Horario';
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 3.3rem;
    width: 100%;
    text-align: center;
    background: #212121;
    font-weight: 600;
    font-family: 'Tangerine';
    padding-top: 10px;
  }

  .nav .schedule,
  .nav .socialMedia{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    transition: all .4s ease;
  }

  .nav .navLinks li:not(:last-child){
    border-left: #6e6e6e solid 1px;    
  }

  .nav .navLinks li:first-child .iconNav{
    width: 24px;
    height: 24px;
  }
  .nav .navHide{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav .navLinks li{
    border-radius: 0;
    padding: 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #6e6e6e solid 1px;
    gap: 0;

  }

  .nav .navLinks .iconNav{
    padding-top: 20px;
  }

  .nav .navLinks li span{
    text-align: center;
    font-weight: 700;
    font-size: 7px !important;
    line-height: 1;
    letter-spacing: .04em;
    margin-top: 5px;
    text-transform: uppercase;
    opacity: 1 !important;
    white-space: normal !important;
    pointer-events: all;
  }

  .nav::before{
    content: '';
    position: absolute;
    top: -100vh;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #1d1d1d;
    z-index: 1;
    transition: 0.4s ease;
  }

  .collapsed::before{
    content: '';
    position: absolute;
    top: -100vh;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: #1d1d1d;
    z-index: 1;
  }

  .collapsed .schedule,
  .collapsed .socialMedia{
    left: 150%;
  }
}