@import url('./fonts.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Evita desbordamientos horizontales */
  width: 100%;
  -webkit-text-size-adjust: 100%; /* Safari */
  -ms-text-size-adjust: 100%;    /* IE */
  text-size-adjust: 100%;        /* Estándar */
}

body {
  font-family: 'Saira', Arial, Helvetica, sans-serif !important;
  width: 100%;
  background-color: #181818;
  overflow-x: hidden; /* Evita desbordamientos horizontales */
}

a {
  color: inherit;
  text-decoration: none;
}
