.page{
  min-height: 100%;
  min-width: 100% ;
  padding-left: 88px;
  /* background-color: red; */
}

.header{
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerImage{
  object-fit: cover;
  max-width: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 0;
}

.header::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.header h1{
  position: relative;
  z-index: 2; 
  color: #F2A326;
  font-size: 4.5rem;
  text-align: center;
}

.header .headerTitle{
  position: relative;
  z-index: 2; 
  max-width: 600px;
  height: auto;
  filter: drop-shadow(2px 4px 6px black);
}


.header h2{
  position: relative;
  z-index: 2; 
  color: #f6f6f6d7;
  font-size: clamp(1.2rem, 5vw, 1.8rem);
  /* font-size: 1.8rem; */
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header h2::before{
  content: '';
  position: absolute;
  top: 50%;
  left: -110px;
  transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background-color: #f6f6f6d7;
  z-index: -1;
}

.header h2::after{
  content: '';
  position: absolute;
  top: 50%;
  right: -110px;
  transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background-color: #f6f6f6d7;
  z-index: -1;
}

.header a{
  position: relative;
  z-index: 2; 
  color: #e7e7e7;
  border: 2px solid #e7e7e7;
  padding: 10px 30px;
  font-size: .9rem;
  cursor: pointer;
  margin-top: 40px;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  text-transform: uppercase;
}

.header a:hover{
  transform: scale(1.1);
}

.header a:active{
  background-color: #c48827;
}

.page section{
  width: 100%;
  height: 700px;
  background-color: #212121;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23141414' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  position: relative;
}

.sectionUs header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.sectionUs header div{
  display: flex;
  flex-direction: column;
}

.sectionUs .usImage{
  object-fit: cover;
  width: 70%;
  padding: 40px;
}

.sectionUs h1{
  color: rgb(226, 226, 226);
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  padding-top: 1.5rem;
}

.sectionUs p{
  color: #f6f6f6;
  opacity: .7;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1.5rem;
  /* max-width: 600px; */
}

.footer{
  width: 100%;
  height: 200px;
  background-color: #212121;
  /* background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%231a1a1a' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f6f6f6;
}


@media (max-width: 768px) {
  .page {
    padding-left: 0;
    padding-bottom: 70px;
  }
}

@media (max-width: 560px) {
  .header .headerTitle{
    width: 94%;
  }
  .header h2::before{
    left: -60px;
    width: 40px;
  }
  .header h2::after{
    right: -60px;
    width:40px;
  }
}

